Package: com.chr1s.gears
Name: Gears
Version: 1.0.2
Architecture: iphoneos-arm
Description: Animate Settings icon!
Maintainer: Chr1s
Author: Chr1s
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), ws.hbang.common (>= 1.15.3)
